.container-new{
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panel-add{
  display: flex;
}
#panel-add{
  input{
    width: 677px;
  }
}
#panel-show{
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
