.api-new{
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panel-add{
  display: flex;
  margin-top: 3%;
}
#panel-add{
  input{
    width: 267.5%;
  }
}
#panel-show{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

/* DivTable.com */
.divTable{
  display: table;
  width: 200%;
  margin-top: 5%;
  text-align: left;
  border-collapse: collapse;
}
.divTableRow {
  display: table-row;
}
.divTableCell, .divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
  width: 32.5%;
}
.divTableHeading {
  background-color: $third-color;
  display: table-header-group;
  color: white;
}
.divTableBody {
  display: table-row-group;
  width: 711px;
}
.delete{
  margin-left: 50%;
}
.fa-trash-alt{
  color: $secondary-color;
}
