<h1>this is your dashboard</h1>

<div class="container center">
      <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-6 col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Your Portfolio</h3>
            <div class="pull-right">
            </div>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
          </div>
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>
                <th>Coin</th>
                <th>Holdings</th>
                <th>Price</th>
                <th>Alerts</th>
                <th>Charts</th>
                <th>Preferences</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= image_tag("btc.png", size: "24x24", class: "center") %><br>BTC</td>
                <td>Kilgore</td>
                <td>Trout</td>
                <td>kilgore</td>
                <td>blahblahblah</td>
                <td>blahblahblah</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Bob</td>
                <td>Loblaw</td>
                <td>boblahblah</td>
                <td>blahblahblah</td>
                <td>blahblahblah</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Holden</td>
                <td>Caulfield</td>
                <td>blahblahblah</td>
                <td>penceyreject</td>
                <td>blahblahblah</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

