    <div class="dashboard-container">
      <div class="dashboard-wrap">
        <div class="dashboard ver1 m-b-110">
          <div class="dashboard-head">
            <table>
              <thead>
                <tr class="dashboard head">
                  <th class="cell100 column1">Coin</th>
                  <th class="cell100 column2">Holdings</th>
                  <th class="cell100 column3">Price</th>
                  <th class="cell100 column4">Charts</th>
                  <th class="cell100 column5">24hr</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="dashboard-body js-pscroll">
            <table>
              <tbody>
                <tr class="dashboard body">
                  <td class="cell100 column1">Like a butterfly</td>
                  <td class="cell100 column2">Boxing</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                </tr>
                <tr class="dashboard body">
                  <td class="cell100 column1">Mind & Body</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Adam Stewart</td>
                  <td class="cell100 column5">15</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Crit Cardio</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Wheel Pose Full Posture</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">15</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Playful Dancer's Flow</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Zumba Dance</td>
                  <td class="cell100 column2">Dance</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Cardio Blast</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Pilates Reformer</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Supple Spine and Shoulders</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">15</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Yoga for Divas</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Virtual Cycle</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">20</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Like a butterfly</td>
                  <td class="cell100 column2">Boxing</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Mind & Body</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Adam Stewart</td>
                  <td class="cell100 column5">15</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Crit Cardio</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                  <td class="cell100 column4">Aaron Chapman</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Wheel Pose Full Posture</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">15</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Playful Dancer's Flow</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Zumba Dance</td>
                  <td class="cell100 column2">Dance</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Cardio Blast</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Pilates Reformer</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">10</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Supple Spine and Shoulders</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">15</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Yoga for Divas</td>
                  <td class="cell100 column2">Yoga</td>
                  <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column4">Donna Wilson</td>
                  <td class="cell100 column5">20</td>
                </tr>

                <tr class="dashboard body">
                  <td class="cell100 column1">Virtual Cycle</td>
                  <td class="cell100 column2">Gym</td>
                  <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column4">Randy Porter</td>
                  <td class="cell100 column5">20</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
