<div class="total-container">
  <h1>Total</h1>
</div>

<div class="container">
  <div class="shadow">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <td class="col" style="transform: translate(6%, 18%)">Coin</td>
            <td class="col" style="transform: translate(10%, 18%)">Holdings</td>
            <td class="col" style="transform: translate(17%, 18%)">Price</td>
            <td class="col" style="transform: translate(14%, 18%)">24hr</td>
            <td class="col" style="transform: translate(10%, 18%)">Charts</td>
            <td class="col" style="transform: translate(9%, 18%)">Alerts</td>
            <td class="col" style="transform: translate(-4%, 18%)">Preferances</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag "btc.png", size: "24" %><br>BTC</td>
            <td>$25000<br>5</td>
            <td>$5000</td>
            <td>15% <%= image_tag "redarrow.png", size: "16" %></td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Jacob</td>
            <td>tdornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Logo<br>BTC</td>
            <td>Larry</td>
            <td>tde Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>chocolate</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
