<div class="total-container">
  <h1>Total</h1>
  <h1>1 million</h1>
</div>

<div class="container">
  <div class="shadow">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <td class="col">Coin</td>
            <td class="col">Holdings</td>
            <td class="col">Price</td>
            <td class="col">24hr</td>
            <td class="col">Charts</td>
            <td class="col">Alerts</td>
            <td class="col">Preferances</td>
          </tr>
        </thead>
        <div class="hello">
          <tbody>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Jacob</td>
              <td>tdornton</td>
              <td>@fat</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Logo<br>BTC</td>
              <td>Larry</td>
              <td>tde Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </div>
      </table>
    </div>
  </div>
</div>
