<% if user_signed_in? %>
<!-- TODO render page with dashboard -->
<p>Ta race ca marche?</p>

<% else %>
<!-- <header class="header">
  <div class="container">
    <h1 class="logo">Vini</h1>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</header> -->
<div class="banner">
  <p>CoinTrail</p>
  <div>
    <div id="typed-strings">
      <p>Track your Crypto Portfolio.</p><br>
      <p>Across <em>any</em> exchange</p><br>
    </div>
    <span id="typed6"></span>
  </div>
  <div class="banner-btn">
  <%= link_to "Learn More", root_path(anchor: "learn-more"), class: "btn btn-success" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
  </div>
</div>


<div class="container">
  <div id="learn-more">
  <h2>What is Lorem Ipsum?</h2>
  <p><b>Lorem Ipsum </b>is simply dummy text of he printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
  <p>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  </p>

  <h3>Contrary to popular belief</h3> <p> Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
  </p>

  <h3>The standard chunk </h3>  <p>Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" .
  </p>
  <p>
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are a going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
  </p>
  <h3>Embarrassing hidden in the middle of text</h3>
  <p> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
  </p>
</div>
  <ul>
    <li>paragraphs</li>
    <li>words</li>
    <li>bytes</li>
    <li>lists</li>
    <ul>
     <p>Start with 'Lorem ipsum dolor sit amet...'</p>

   </div>

   <div class="bottom-nav fixed-bottom">
    <ul class="nav">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
  <footer class="footer">
    <div class="container">
      <ul class="nav">
        <li><a href="#fake">Home</a> </li>
        <li>|</li>
        <li><a href="#fake">Tickets</a> </li>
        <li>|</li>
        <li><a href="#fake">Recent Action </a> </li>
        <li>|</li>
        <li><a href="#fake">About  </a> </li>
        <li>|</li>
        <li><a href="#fake">contact us</a> </li>
      </ul>
    </div>
    <p class="copy"> Copy rights @Vineeth.TR </p>
  </footer>
  <% end %>
