@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
.wrapper{
  background-color: $main-color;
}
.container-fluid{
  margin-left: 40px;
  margin-right: 40px;
}
.navbar{
  background-color: $third-color;
  margin-bottom: 0 !important;
  height: 60px;
  // border-bottom-left-radius: 20px 10px;
  // border-bottom-right-radius: 20px 10px;
  color: $light-gray;
}
#navbar{
  color: $light-gray;
  text-align:center;
  vertical-align: center;
}
.navbar-header{
  font-size: 24px;
  margin-top: 5px;
}
.dropdown-toggle {
  margin-top: 15px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #e5e5e5;
    display: initial;
    left: auto;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: $secondary-color !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: $secondary-color !important;
}
#right-dropdown {
  color: black !important;
}
ul.dropdown-lr {
  width: 300px;
}
ul.nav.navbar-nav.navbar-center{
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-top: 10px;
  font-size: 25px;
}
/* mobile fix */
@media (max-width: 768px) {
  .dropdown-lr h3 {
    color: black;
  }
  .dropdown-lr label {
    color: black;
  }
}

// /* Main navbar */
// .navbar {
//   // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
//   background: #EBF0F1;
//   transition: all 0.3s ease;
//   height: 80px;
//   padding: 0px 30px;
//   // display: flex;
//   // align-items: center;
//   justify-content: space-between;
//   box-shadow: 0 5px 5px -5px #333;
// }

// // /* Logo */
// .navbar-wagon-brand img {
//   height: 50px;
//   margin-top: 15px;
// }

// span.brand-name {
//   font-size: 30px;
//   margin-top: 15px;
//   vertical-align: -15px;
// }

// // /* User Avatar */
// // // .navbar-wagon .avatar {
// // //   height: 35px;
// // //   width: 35px;
// // //   border-radius: 50%;
// // // }

// // /* Right section */
// .collapse.navbar-collapse {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// .navbar-right {
//     list-style-type: none;
//     margin-top: 15px;
// }

// // /* Basic navbar item */
// .navbar-wagon-item {
//   cursor: pointer;
//   padding: 0 20px;
// }
// // /* Navbar link */
// .navbar-wagon-link:hover {
//   text-decoration: none;
// }

// // /* Dropdown menu */
// .navbar-wagon-dropdown-menu {
//   margin-top: 15px;
//   box-shadow: 1px 1px 4px #E6E6E6;
//   border-color: #E6E6E6;
// }
// .navbar-wagon-dropdown-menu li > a {
//   transition: color 0.3s ease;
//   font-weight: lighter !important;
//   color: #999999 !important;
//   font-size: 15px !important;
//   line-height: 22px !important;
//   padding: 10px 20px;
// }




// .navbar-wagon-dropdown-menu li > a:hover {
//   background: transparent !important;
//   color: black !important;
// }
// .navbar-wagon-dropdown-menu:before {
//   content: ' ';
//   height: 10px;
//   width: 10px;
//   position: absolute;
//   right: 10px;
//   top: -6px;
//   background-color: white;
//   transform: rotate(45deg);
//   border-left: 1px solid #E6E6E6;
//   border-top: 1px solid #E6E6E6;
// }

// body {
//     padding-top: 90px;

// }
/* General sizing */
